<h1>Railsban</h1>
<p>Welcome to our Kanban board on Rails!</p>
<p><%= link_to "Create a new Card", new_card_path %></p>

<div class="boards-container">
    <% @statuses.each do |status| %>
        <div class="boards-container__board">
            <h1><%= status.name %></h1>
            <% status.cards.each do |card| %>
                <div class="boards-container__board__card">
                    <%= link_to card.name, card %>
                </div>
            <% end %>
        </div>
    <% end %>
</div>