<div id="<%= dom_id card %>">
  <p>
    <strong>Name:</strong>
    <%= card.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= card.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= card.status.name %>
  </p>

</div>
